#!/usr/bin/make -f
DEB_DIR=debian/python-purple

build:

clean:
	dh_testdir
	python2.5 setup_dist.py clean
	rm -f `find $(CURDIR) -name '*.py[co]'`
	rm -rf build-stamp build
	rm -rf $(DEB_DIR)
	#rm -rf purple.c
	dh_clean install-stamp

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_installdirs
	python2.5 setup_dist.py install --root=$(DEB_DIR)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_compress -X.py
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
